:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body,
a,
h1, h2, h3, h4, h5, h6,
input,
select,
button,
optgroup,
textarea {
	font-family: 'Noto Serif', sans-serif;
}


a {
  font-weight: 700;
  color: #7181EF;
  text-decoration: none;
}
a:hover {
  color: #7D81E0;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.wrap {
  width: min(100%, 640px);
  margin: 0 auto;
  padding: 20px;
}

.a11y-day-link {
  display: flex;
  padding: 0;
  margin: 20px auto;
  width: min(100%, 500px)
}

.a11y-day-link svg {
  margin-right: 18px;
  margin-left: 12px;
  width: 140px;
  height: 140px;
  padding: 5px;
  transform: rotate(-4deg);
  background-color: #fff;
}

.a11y-day-link span {
  flex: 0 0 60%;
  font-size: 40px;
  font-weight: 600;
  word-break: normal;
  color: #7F1177;
  text-align: left;
  background-color: #fff;
  font-family: 'Noto Serif', sans-serif;
  padding-left: 20px;
}

.logo-light {
  fill: #7f1177;
}

.logo-dark {
  fill: #115A7F;
}

.font-large {
  font-size: 2rem;
  margin: 0 auto;
}

li {
  margin-bottom: 1rem;
}